@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  overflow-x: hidden;
}
.design2 {
  height: 111%;
}
.font {
  font-family: "Open Sans", sans-serif;
}
.font-pop {
  font-family: "Poppins", sans-serif;
}

.image {
  text-align: -webkit-center;
}
.gradient {
  background-image: linear-gradient(135deg, #bdcdfc, #eaedf7);
}
.card {
  width: 83%;
}

.active {
  border-bottom: 4px solid #2563eb;
}
@media screen and (orientation: portrait) {
  .active {
    width: 33%;
  }
  .mob_pos {
    position: relative;
    left: 10%;
    top: 20px;
    margin-top: 15px;
  }
  .mob_pos1 {
    position: relative;
    left: 10%;
    width: 41%;
  }
  .back_arrow {
    font-size: "40px";
  }
  .slick-slider {
    right: 112px;
  }
  iframe {
    height: 210px;
    width: 308px;
    border-radius: 12px;
  }
  .explore {
    display: none;
  }
  .test_artboard {
    height: 130px;
    width: 130px;
  }
  .top_bg {
    background-image: linear-gradient(180deg, #bdcdfc, #ffffff);
  }
}
.testimonial .slick-arrow.slick-prev,
.testimonial .slick-arrow.slick-next {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border-radius: 5px;
}
.slick-prev::before,
.slick-next::before {
  display: none;
}
.slick-arrow.slick-next {
  right: -70px;
}
.slick-arrow.slick-prev {
  left: -70px;
}
.testimonial .slick-dots li button:before {
  font-size: 15px;
}
.testimonial .slick-dots li {
  top: 15px;
}

.width1 {
  width: 80%;
  max-width: 750px;
}
.width {
  width: 58%;
}

.faq_ques {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.faq_ques::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.faqs .faq {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 15px;
  background-color: #fefefe;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.faqs .faq .faq-question {
  position: relative;
  padding-right: 80px;

  transition: all 0.4s ease;
}

/* .faqs .faq .faq-question::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: black;
  border-radius: 9999px;
  background-image: url("./images/arrow.png");
  background-position: center;
  background-size: 63%;
  background-repeat: no-repeat;
  transition: all 0.4s ease-out;
} */

.faqs .faq .faq-answer {
  opacity: 0;
  max-height: 0;
  overflow-y: hidden;
  max-width: 460px;
  transition: all 0.6s ease-out;
}

.faqs .faq.open .faq-question::after {
  transform: translateY(-50%) rotate(180deg);
}

.faqs .faq.open .faq-answer {
  max-height: 1000px;
  opacity: 1;
  margin-top: 10px;
}
.bg-1 {
  background-color: #1e3a8a;
}
.bg-2 {
  background-color: #facc15;
}
.bg-3 {
  background-color: #16a34a;
}
.bg-4 {
  background-color: #a855f7;
}
.swiper-pagination {
  position: relative;
  top: 550px;
}
.swiper {
  height: 600px;
}

@media only screen and (max-width: 780px) {
  .navbar {
    display: none;
  }
}

.show {
  display: block;
  transition: 800ms;
  opacity: 1;
}

.show.active {
  transform: translateY(100px) scale(0) rotateY(180deg);
  opacity: 0;
}

.required:after {
  content: "*";
  color: red;
  margin-left: 3px;
}
.marked:before {
  content: "*";
  color: red;
  margin-right: 3px;
}
